<div class="container" style="margin-top: 80px;">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">38/5, Berlie Street,</div>
        <div class="text-two">Landford Town HosurRoad, Bengaluru, India</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+0098 9893 5647</div>
        <div class="text-two">+0096 3434 5678</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">info@briskon.com</div>
        <div class="text-two">contact@briskon.com</div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text" style="margin-top: 10px;">Send us a message</div>
      <p style="margin-top: 40px;"> Founded in 2005, Briskon is a software application development, mobile apps development, web development and digital marketing company operates from Bangalore India and Dallas, Texas USA.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <input type="text" placeholder="Enter your message">
        </div>
        <div class="button">
          <input type="button" value="Send Now">
        </div>
      </form>
    </div>
  </div>
</div>
