<footer class="text-center text-lg-start">
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
          Briskon Technologies
          </h6>
          <p>
            Founded in 2005, Briskon is a software application development, mobile apps development, web development and digital marketing company operates from Bangalore India and Dallas, Texas USA.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            AUCTIONS
          </h6>
          <p>
            <a class="text-reset">Live Auctions</a>
          </p>
          <p>
            <a class="text-reset">Upcoming Auctions</a>
          </p>
          <p>
            <a class="text-reset">Closed Auctions</a>
          </p>
          <p>
            <a class="text-reset">Auction Calendar</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            QUICK LINKS
          </h6>
          <p>
            <a class="text-reset">Company</a>
          </p>
          <p>
            <a class="text-reset">FAQs</a>
          </p>
          <p>
            <a class="text-reset">Disclaimer</a>
          </p>
          <p>
            <a class="text-reset">Privacy Policy</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>Address: 38/5, Berlie Street,Landford Town HosurRoad, Bengaluru, India</p>
          <p>
            Email: <a class="text-reset" > info@briskon.com </a>
          </p>
          <p> Call us: <a class="text-reset">+91 99451 41100 </a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="newsletter">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-5 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Subscribe to Our Newsletter</h6>
        <form>
          <div class="input">
            <div class="mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
          </div>
          <button type="submit" class="btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>

  <div class="copyright">
    <a class="fw-bold">© 2023 Copyright: Briskon Technologies</a>

    <div class="social-media">
      <div class="px-2">
        <a href="https://www.facebook.com" target="_blank"><fa-icon [icon]="faFacebook" class="fa-2x fa-inverse"></fa-icon></a>
      </div>
      <div class="px-2">
        <a href="https://www.twitter.com" target="_blank"><fa-icon [icon]="faTwitter" class="fa-2x fa-inverse"></fa-icon></a>
      </div>
      <div class="px-2">
        <a href="https://www.youtube.com" target="_blank"><fa-icon [icon]="faYoutube" class="fa-2x fa-inverse"></fa-icon></a>
      </div>
      <div class="px-2">
        <a href="https://www.instagram.com" target="_blank"><fa-icon [icon]="faInstagram" class="fa-2x fa-inverse"></fa-icon></a>
      </div>
    </div>

  </div>
</footer>
