.my-header {
   display: flex;
 }

.right-side {
   display: flex;
   flex-direction: column;
 }

.navbar {
  display: flex;
  justify-content: flex-end;
}

.my-header {
  box-shadow: 0px 4px 4px -2px #757575;
  margin-bottom: 4px;
}

.logo-image {
  height: 90px;
  width: 100%;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-top: 30px;
}

.top-bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 4px;
  margin-right: 35px;
  font-size: 13px;
}

.search {
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

a {
  color: #00416D;
  font-size: 16px;
  font-weight: 400;
  margin-right: 15px;
}

a:hover {
  text-decoration: none;
  color: #F37039;
  font-weight: 350;
}

li {
  margin-top: 5px;
}

.btn {
  background-color: #F37039;
  color: white;
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn:hover {
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}

.faSearch {
  font-size: 26px;
}

.faTimes {
  font-size: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
}


.search-bar{
  width: 30%;
  font-size: 16px;
  color: #757575;
  border: none;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: 1;
}

.search-bar:focus {
  outline: none;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
