:host{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.add-bid-btn {
  background-color: #F37039;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
}

.add-bid-btn:hover {
  text-decoration: none;
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}

.product {
  display: flex;
  flex-direction: row;
  min-height: 60%;
  justify-content: center;
}


.product-details {
  margin-top: 60px;
  font-size: 18px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image {
  margin-left:100px;
  margin-top: 50px;
  object-fit: contain;
  height: 300px;
  max-width: 100%;
}

.image-slider {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  justify-content: center;
}

.product-slider-image {
  cursor: pointer;
  margin-top: 5px;
  margin-left: 20px;
  object-fit: contain;
  height: 80px;
  max-width: 100%;
  border: 0.5px solid #777777;
}

.bid{
  margin-top: 40px;
}

.my-form {
  margin-left: 600px;
}

.text-danger {
  color: #dc3545;
}


.my-bids{
  margin: 40px auto;
}

.all-bids{
  margin: 40px auto;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.my-filter-input {
  padding: 4px;
  font-size: 15px;
  color: #575757;
  width: 100%;
  margin-bottom: 22px;
}

.my-filter-input:focus {
  outline: none;
  border-radius: 2px;
  border: 2px solid #0072BB;
}

.tab-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.tabs{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #E3F1F9;
  padding: 20px;
  margin-top: 10px;
  min-height: 80px;
  width: 86.5%;
}

.nav-tabs {
  border-bottom: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-tabs .nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 60px 10px 60px;
}

.nav-tabs .nav-link.active {
  background-color: #E3F1F9;
  border-bottom: none;
  color: black;
}

.nav-tabs .nav-link {
  background-color: #0072BB;
  border-bottom: none;
  border-radius: 2px;;
  color: white;
}

.review-btn-container {
  display: flex;
  justify-content: center;
}

.review-btn {
  background-color: #F37039;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
  margin-left: 20px;
}

.review-btn:hover {
  text-decoration: none;
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}

/* review list */
.review-list {
  padding: 10px;
}

.review-list p {
  font-size: 14px;
  line-height: 1;
}

/* for emd payment */

.emd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#rzp-button1 {
  background-color: #F37039;
  color: white;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
  border: none;
}

#rzp-button1:hover {
  text-decoration: none;
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}
