<h2 style="color: #0072BB; font-size: 32px; font-weight: 600; text-align: center; margin-top: 30px;">Categories</h2>

<div class="my-table">
  <div class="top">
    <form class="my-form-field">
      <input placeholder="Search" class="my-filter-input" (keyup)="filterChange($event)">
    </form>
  </div>

  <div class="mat-elevation-z3" style="display: inline-table;">

    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="sNo">
        <th mat-header-cell *matHeaderCellDef style="background-color: #494848;"> S No. </th>
        <td mat-cell *matCellDef="let item; let i = index">
          {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>

      <ng-container matColumnDef="auctions">
        <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Auctions </th>
        <td mat-cell *matCellDef="let element" style="color: #00416D; cursor: pointer;">
          <ul style="list-style-type: none;">
            <li *ngFor="let product of listProductsWithCategory(element.categoryId)">
              <ul>
                <li *ngFor="let auction of listAuctionsWithProduct(product.productId)">
                  <a (click)="viewAuction(auction)" style="font-size: 14px;">{{ getProductName(auction.productId) }} </a>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="my-table-row"></tr>
    </table>

    <mat-paginator class="my-paginator" #paginatorRef [length]="dataSource?.data?.length" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
