.btn-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.add-user-btn {
  background-color: #0072BB;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 5px 5px 5px;
}

.add-user-btn:hover {
  text-decoration: none;
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.top-add-user-btn {
  background-color: #0072BB;
  color: white;
  border-radius: 1px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
}

.top-add-user-btn:hover {
  text-decoration: none;
  color: #0072BB;
  background-color: white;
  border: 1px solid #0072BB;
}

.my-filter-input {
  padding: 4px;
  font-size: 15px;
  color: #575757;
  width: 100%;
  margin-bottom: 22px;
}

.my-filter-input:focus {
  outline: none;
  border-radius: 2px;
  border: 2px solid #0072BB;
}

