:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

mat-sidenav-container {
  min-height: 100%;
  height: 100vh;
  background-color: white;
}

mat-sidenav {
  min-height: 100%;
  padding: 30px;
  background-color: white;
}


mat-sidenav-content {
  min-height: 100%;
  background-color: white;
}

.main-content-container {
  margin-right: 30px;
}

.main-content {
  padding-left: 25px;
}

.sidebar {
  position: sticky;
  background-color: #0072BB;
  border: 1px solid #00416D;
}

