:host{
  display: flex;
  flex-direction: column;
  min-height: 75%;
}

.background {
  display: flex;
  height: 225px;
  background-image: url('../../../assets/login.jpg');
  background-size: cover;
}

.login-text {
  color: #06456F;
  font-size: 42px;
  font-weight: 500;
  margin-top: 150px;
  margin-left: 600px;
  text-align: center;
}

.card {
  background-color: #F8F9FA;
  margin: 30px;
}

.login-btn {
  background-color: #F37039;
  color: white;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border: none;
}

.login-btn:hover {
  color: #F37039;
  background-color: white;
  border: 1px solid #F37039;
}
