<section class="innerpage-content">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="main-section">
          <p class="big-bold" style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 48px">AIM, ALIGN,
            ACHIEVE</p>
          <p style="color: #0071B9; font-size: 20px; font-weight: 300; margin-top: 18px">You aim, we align, together we
            achieve</p>
          <p style="font-size: 16px; margin-top: 48px">Founded in 2005, Briskon is a software application development,
            mobile apps
            development, web development and digital marketing company operates from Bangalore
            India and Dallas, Texas USA.
            <br><br>
            Briskon is a highly process driven organization with extensive experience of working
            with great companies. The young and vibrant team of Briskon consists of highly
            skilled managers, analysts, programmers, marketers, designers, developers and QA
            personnel, working together we deliver world-class quality products and solutions.
            Our unerring commitment to quality and continuous learning to stay abreast of the
            latest technologies enables us to consistently deliver customer delight.
          </p>
          <p style="font-size: 16px; margin-top: 28px"><strong>As one of the top software development companies in USA, our approach extends
              our innovative technological capabilities to service clients across all domains
              especially in Retail, Healthcare, Education, Chemicals, Real Estate and BFSI.
              Briskon's solutions expand to cover the entire spectrum of IT, software
              products, digital transformation, digital marketing and professional services.
              In order to serve our clients more efficiently, Briskon has split its strategic
              business units into 3 distinct focus areas:</strong></p>
          <p style="font-size: 16px; margin-top: 28px"><em>Solutions Engineering Group (SEG)<br>
              Professional Services Group (PSG)<br>
              Offshore Services & Support (OSS)</em></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sub-section">
          <div class="about-side-block" style="background:#28b87a; font-size: 16px; margin-top: 50px; border-top: 5px solid #333c62; padding: 8px;">
            <h4 style="font-weight: 600;">Mission</h4>
            <p>To be a leading, profitable IT and digital transformation company providing
              comprehensive business solutions.</p>
          </div>
          <div class="about-side-block" style="background:#28b87a; font-size: 16px; margin-top: 40px; border-top: 5px solid #333c62; padding: 8px;">
            <h4 style="font-weight: 600;">Vision</h4>
            <p>Providing high-quality, customer-centric solutions by combining people, processes
              and partnership with technology expertise.</p>
          </div>
          <div class="about-side-block" style="background:#28b87a; font-size: 16px; margin-top: 40px; border-top: 5px solid #333c62; padding: 8px;">
            <h4 style="font-weight: 600;">INFRASTRUCTURE</h4>
            <p>Located in the heart of city, equipped with all required software & hardware,
              advanced communication tools, cloud hosting and many more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
