
<h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="admin">Manage Auctions</h2>
<h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="seller"> My Auctions</h2>
<!-- <h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="buyer"> I Am Bidding On</h2> -->
<br>
<h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="state === 'live'">Live Auctions</h2>
<h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="state === 'closed'">Closed Auctions</h2>
<h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 28px" *ngIf="state === 'upcoming'">Upcoming Auctions</h2>


<!-- <mat-form-field>
  <input matInput placeholder="Search" class="my-filter-input" (keyup)="filterChange($event)">
</mat-form-field> -->
<div class="top">

  <form class="my-form-field">
    <input placeholder="Search" class="my-filter-input" (keyup)="filterChange($event)">
  </form>
  <a routerLink='/admin-dashboard/add-auction' class="top-add-auction-btn" *ngIf="admin">Add Auction</a>
  <a routerLink='/seller-dashboard/add-auction' class="top-add-auction-btn" *ngIf="seller">Add Auction</a>
</div>

<div class="mat-elevation-z3" style="display: inline-table;">

<table mat-table matSort [dataSource]="dataSource" >

  <ng-container matColumnDef="sNo">
    <th mat-header-cell *matHeaderCellDef style="background-color: #494848;"> S No. </th>
    <td mat-cell *matCellDef="let item; let i = index">
      {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
   </td>
  </ng-container>

  <ng-container matColumnDef="auctionId">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Auction Id </th>
    <td mat-cell *matCellDef="let element"> AUC{{element.auctionId}} </td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Product Name </th>
    <td mat-cell *matCellDef="let element" style="color: #00416D; cursor: pointer;"> <a (click)="viewAuction(element)">{{ getProductName(element.productId) }} </a> </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> End Date </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
  </ng-container>

  <ng-container matColumnDef="emdAmount">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> EMD Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.emdAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="startBidAmount">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Start Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.startBidAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="minIncrementValue">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Min Increment Value </th>
    <td mat-cell *matCellDef="let element"> {{element.minIncrementValue}} </td>
  </ng-container>

  <ng-container matColumnDef="currentBidAmount" >
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Current Bid Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.currentBidAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="availableQty">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Qty </th>
    <td mat-cell *matCellDef="let element"> {{element.availableQty}} </td>
  </ng-container>

  <ng-container matColumnDef="auctionState">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Auction State </th>
    <td mat-cell *matCellDef="let element"> {{element.auctionState}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef style="background-color: #494848;"> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="handleStatus">
    <th mat-header-cell *matHeaderCellDef style="background-color: #494848;"> Handle Status </th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        [checked]="element.status === 'approved'"
        (change)="element.status = $event.checked ? 'approved' : 'denied';
                   $event.checked ? approveAuction(element) : denyAuction(element)">
        {{ element.status === 'approved' ? 'Approved' : 'Denied' }}
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef style="background-color: #494848;"> </th>
    <td mat-cell *matCellDef="let element"> <a (click)="editAuction(element)">
        <fa-icon [icon]="faEdit" class="fa-xl edit-icon"></fa-icon>
      </a> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef style="background-color: #494848;"> </th>
    <td mat-cell *matCellDef="let element"> <a (click)="deleteAuction(element)"><fa-icon [icon]="faTrashAlt" class="fa-xl delete-icon"></fa-icon></a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"class="my-table-row"></tr>
</table>

<mat-paginator class="my-paginator"
#paginatorRef
[length]="dataSource?.data?.length"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
showFirstLastButtons></mat-paginator>

</div>

<!-- <div class="btn-container">
  <a routerLink='/admin-dashboard/add-auction' class="add-auction-btn" *ngIf="admin">Add Auction</a>
  <a routerLink='/seller-dashboard/add-auction' class="add-auction-btn" *ngIf="seller">Add Auction</a>
</div> -->
