<section class="innerpage-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="main-section">
          <h2 style="color: #0071B9; font-size: 28px; font-weight: 600; margin-top: 48px">Resources</h2>
          <p style="font-size: 16px; margin-top: 28px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci tellus, vehicula sed venenatis sit amet, tincidunt id sem.

            Etiam feugiat, neque in iaculis tincidunt, justo velit laoreet magna, vel consectetur ligula augue at risus. Pellentesque porta erat neque, ut gravida ipsum finibus ac. Mauris quis malesuada dui, eget convallis ipsum. Etiam vel egestas lorem, ut rutrum turpis. Donec ultrices nulla vel massa rutrum tempus. Donec id mauris feugiat metus faucibus varius. Suspendisse interdum dignissim elit, vitae facilisis felis laoreet eu. Nulla ultrices posuere condimentum. Duis turpis odio, pellentesque non lacinia at, faucibus ut lorem. Proin eu congue mauris. In sed tincidunt tortor, convallis vulputate velit. Donec eu odio at ligula ullamcorper scelerisque. Ut quam risus, scelerisque ut rhoncus nec, facilisis eu ex.</p>
          <ul style="font-size: 14px; margin-top: 30px;">
            <li><a href="">Auction Rules</a></li>
            <li><a href="">How to Bid</a></li>
            <li><a href="">Payment Methods</a></li>
            <li><a href="">Shipping and Handling</a></li>
            <li><a href="">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sub-section">
          <div class="about-side-block" style="background:#28b87a; margin-top: 50px; border-top: 5px solid #333c62; padding: 8px;">
            <h4 style="font-weight: 600;">About E-Auction</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum libero id est suscipit dapibus.</p>
          </div>
          <div class="about-side-block" style="background:#28b87a; margin-top: 40px; border-top: 5px solid #333c62; padding: 8px;">
            <h4 style="font-weight: 600;">Contact Us</h4>
            <p>123 Main Street<br>
              City, State 12345<br>
              Phone: (123) 456-7890<br>
              Email: info@e-auction.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
